.container-card {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80%;
}

.card-defaulter,
.card-in-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    width: 556px;
    height: 397px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(172, 217, 197, 0.25);
    border-radius: 30px;

}

.defaulter-title,
.in-day-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: 18px 24px;

    border-bottom: 1px solid #EFF0F7;
}

.defaulter-title div,
.in-day-title div {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 8px;
}

.defaulter-title h1,
.defaulter-title span,
.in-day-title h1,
.in-day-title span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.defaulter-title h1,
.in-day-title h1 {
    color: #3F3F55;
}

.defaulter-title span,
.in-day-title span {
    padding: 4px 15px;
    font-size: 16px;
    border-radius: 8px;
}

.defaulter-title span {
    background-color: #FFEFEF;
    color: #971D1D;
}

.in-day-title span {
    background-color: rgba(238, 246, 246, 1);
    color: rgba(31, 167, 175, 1);
}

.defaulter-sub-title,
.in-day-sub-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    padding: 20px 0 20px 40px;

    border-bottom: 1px solid #EFF0F7;
}

.defaulter-sub-title strong,
.in-day-sub-title strong {
    width: 33%;
    text-align: justify;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 1.6rem;

    color: #3F3F55;
}

.defaulter-table,
.in-day-table {
    width: 100%;
    height: 230px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.defaulter-table .no-result,
.in-day-table .no-result {
    margin: auto;
}

.defaulter-table::-webkit-scrollbar,
.in-day-table::-webkit-scrollbar {
    border: none;
    width: 0;
}

.defaulter-columns,
.in-day-columns {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    padding: 6px 0 6px 40px;

    border-bottom: 1px solid #EFF0F7;
}

.defaulter-columns span,
.in-day-columns span {
    width: 33%;
    text-align: justify;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;

    color: var(--grey_three);
}

.link {
    margin: 10px 0 20px 0;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    color: var(--pink);
}

@media (max-width: 1595px) {
    .container-card {
        gap: 32px;
    }
}